.title {
    display: none;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    -webkit-animation: fade 4s linear;
    animation: fade 4s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    50% {
        opacity: 1
    }
    99% {
        opacity: 0;
        height: 100vh;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

@keyframes fade {
    50% {
        opacity: 1
    }
    99% {
        opacity: 0;
        height: 100vh;
    }
    100% {
        opacity: 0;
        height: 0;
    }
}

.title p {
    font-size: 48px;
    line-height: 52px;
    font-weight: bold;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    -webkit-animation: fade 4s linear;
    animation: fade 4s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #FFF;
    font-size: 16px;
    color: #343434;
    line-height: 28px;
    font-family: Overpass-Light;
    height: 99999px;
}

article {}

#author {
    z-index: 200;
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 14px;
    color: #343434;
    font-weight: 600;
    text-decoration: none;
    opacity: .2;
}

#author:hover {
    opacity: 1;
}

.panel {
    background-color: #FFF;
    max-width: 600px;
    padding: 40px 60px;
    border: 2px solid #343434;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: fixed;
    margin-left: 100px;
    margin-right: 100px;
}

.fixed {
    background-color: #FFF;
    max-width: 600px;
    padding: 40px 60px;
    border: 2px solid #343434;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: fixed;
    margin-left: 100px;
    margin-right: 100px;
}

.intro {
    margin-top: 30vh;
    margin-left: 10vw;
    z-index: 11;
    font-style: italic;
}

.panel.interlude {
    z-index: 10;
    margin-top: 50vh;
    margin-left: 40vw;
    background-color: #343434;
    border: 2px solid white;
    color: white;
}

.time_part {
    margin-top: 20vh;
    margin-left: 25vw;
    z-index: 9;
}

.quote {
    font-style: italic;
    padding-left: 4vw;
    padding-top: 26px;
    padding-bottom: 26px;
}

.side_thought {
    padding: 40px 60px;
    background-color: #343434;
    border: 2px solid white;
    color: white;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    width: 100%;
    margin-left: 20px;
    margin-top: 26px;
    margin-bottom: 26px;
}

p {}

.long_thoughts_part {
    margin-top: 25vh;
    margin-left: 35vw;
    z-index: 8;
}

.appendix_part {
    margin-top: 10vh;
    margin-left: 40vw;
    z-index: 6;
}

.alphabet_book {
    margin-top: 25vh;
    margin-left: 25vw;
}

.layer0 {
    z-index: 5;
}

.layer1 {
    z-index: 4;
}

.layer2 {
    z-index: 3;
}

.landscape1 {
    margin-top: 55vh;
    margin-left: 45vw;
    z-index: 5;
}

.landscape2 {
    margin-top: 55vh;
    margin-left: 45vw;
    z-index: 4;
}

.sami_part {
    margin-top: 30vh;
    margin-left: 10vw;
}

.references {
    margin-top: 35vh;
    margin-left: 5vw;
    z-index: 0;
    font-size: 16px;
    word-wrap: break-word;
    overflow: scroll;
    width: 100%;
    height: 600px;
}

.references .close {
    float: right;
    opacity: .2;
}

.references .close:hover {
    opacity: 1;
}

h1 {
    padding-bottom: 30px;
}

h2 {
    font-weight: bold;
    font-size: inherit;
}

.references li {
    opacity: .2;
    padding-left: 50px;
    padding-bottom: 20px;
}

.references li:hover {
    opacity: 1;
}

.front {
    z-index: 400;
}

.footnote {
    vertical-align: baseline;
    position: relative;
    font-size: 70%;
    top: -0.6em;
}

.appendix_part ul {
    list-style: none;
}

li h2 {
    display: inline;
}
