body {
  font-family: 'Overpass', sans-serif;
  text-rendering: optimizeLegibility;
    background-color: #EBEAEA;
}

h1 {}

header h1 {
  position: fixed;
  text-align: center;
  top: 30px;
  opacity: .1;
  -webkit-transition: .4s;
  transition: .4s;
  white-space:nowrap;
  overflow: hidden;
}

header h1:hover {
  opacity: 1;
}

article {
    margin-top: 100px;
}

article p {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px;
  max-width: 800px;
}

article h1 {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 50px;
  max-width: 800px;
}

.references {
  color: black;
  font-size: 16px;
  -webkit-transition: 1s;
  -webkit-transition: .4s;
  padding-left: 20vw;
}

.references li {
  opacity: .2;
  padding-left: 50px;
  padding-bottom: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

.references h1 {
  opacity: .2;
}

.references li:hover {
  opacity: 1;
}

.intro {
  font-family: Overpass-Bold;
  font-size: 48px;
  color: #000000;
  letter-spacing: 3.5px;
}

.victoria {
  width: 100%;
  font-style: italic;
}

.epitaph {
  font-size: 28px;
  line-height: 46px;
  -webkit-transition: 4s;
  transition: 4s;
}

.epitaph-sub {
  font-size: 16px;
  text-align: right;
}

.epitaph-small {
  font-size: 26px;
}

.big-picture {
  max-width: 500px;
  padding-right: 30vw;
}

.sami {
  text-align: right;
  max-width: 600px;
  padding-left: 20vw;
}

.quote {
  font-style: italic;
}

.quote p::before {
  content: '“';
  display: inline;
}

.quote p::after {
  content: '”';
  display: inline;
}

.interlude {
  text-align: center;
}

.time {
  text-align: justify;
  width: 100%;
}
